.parede{
    margin: 20px auto;
    width: 450px;
    height: 430px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 20px;
    border-style: ridge;
}
.corpo{
    justify-content: space-between;
    width: 400px;
    margin-top: 40px;
    margin-block-end: 50px;
    flex-wrap: wrap;
}

.loname, .form{
    margin-block-end: 15px;
    margin-left: 90px;
}
