.fundo{
    margin: 20px auto;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 20px;
    border-style: ridge;
}

.h1{
    margin-block-end: 90px;
}
