.cardbody {
    background-color: black;
}

.container {
    background-color: #1C1C1C;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-block-end: 60px;
}

.text{
    color: burlywood;
    font-size: 40px;
    font-style: italic;
    padding-top: 45px;
}

.p{
    color: white;
}

.imgban{
    height: 100%;
    background-size: cover;
    background-image: url(https://static.wixstatic.com/media/aae10da11aba45d5b8712c90f0097df3.jpg/v1/fit/w_924,h_520/aae10da11aba45d5b8712c90f0097df3.jpg);
    min-height: 10%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}