.conteiner{
    width: 600px;
    height: 500px;
    overflow: hidden;
    background-color: black;
    background-attachment: fixed;
}
.title h1, p{
    color: burlywood;
    align-items: center;
}
.title h4{
    color: #FFFACD;
}