.atras{
    margin: 20px auto;
    width: 650px;
    height: 510px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 20px;
    border-style: ridge;
    margin-top: 140px;
    margin-block-end: 50px;
}
.frente{
    justify-content: space-between;
    width: 400px;
    margin-top: 30px;
    margin-block-end: 50px;
    flex-wrap: wrap;
    padding-right: 200px;
}

.namep, .formca{
    margin-block-end: 15px;
    margin-left: 20px;
}

.fogroup{
    margin-block-end: 10px;
}

.blogar{
    margin-top: 10px;
}
