.txtservices{
    font-size: 15px;
    margin-top: auto;
}
.txto { 
    text-align: center;
    color: white;
}

.txtitle{
    color: salmon;
    text-align: center;
    padding-top: 15px;
    margin-block-end: 30px;
}

.serum{
    background-image: url(https://images.pexels.com/photos/6131156/pexels-photo-6131156.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    width: 724px; 
    height: 490px;
    background-size: cover;
    margin: 19px;
    margin-block-end: 50px;
}

.serdois{
    background-image: url(https://images.pexels.com/photos/977281/pexels-photo-977281.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    width: 724px; 
    height: 490px;
    background-size: cover;
    margin: 19px;
    margin-block-end: 50px;
}

.sertres{
    background-image: url(https://media.istockphoto.com/photos/dry-pet-food-picture-id1131841641?b=1&k=20&m=1131841641&s=612x612&w=0&h=IyZwypE3c4x3PbpBgNHMbez6x_H6s9CL6W34-8TFPDs=);
    width: 724px; 
    height: 490px;
    background-size: cover;
    margin: 19px;
    margin-block-end: 50px;
}

.sertitle{
    font-size: 400px;
    color: black;
}
 
.cnt{
    color: white;
    margin-left: 685px;
}

.contser{
    margin-top: 15%;
    margin-left: 20%;
}

.sergroup{
    margin: 20px auto;
}